   # =============== First Day ===================

#### 1 => Check to see if a string has the same amount of 'x's and 'o's. The method must return a boolean and be case insensitive. The string can contain any char.

In [1]:
def xo(s):
    count = 0
    for ch in s:
        if (ch == 'o') or (ch == 'O'):
            count +=1
        elif (ch == 'x') or (ch == 'X'):
            count -=1
    return count == 0

#### 2 => Character recognition software is widely used to digitise printed texts. Thus the texts can be edited, searched and stored on a computer.

When documents (especially pretty old ones written with a typewriter), are digitised character recognition softwares often make mistakes.

Your task is correct the errors in the digitised text. You only have to handle the following mistakes:

S is misinterpreted as 5
O is misinterpreted as 0
I is misinterpreted as 1
The test cases contain numbers only by mistake.

In [2]:
def correct(s):
    return s.replace('5','S').replace('0', 'O').replace('1','I')

#### 3 => You will be given an array a and a value x. All you need to do is check whether the provided array contains the value.

a can contain numbers or strings. x can be either.

Return true if the array contains the value, false if not.

In [3]:
def check(seq, elem):
    return elem in seq

####  4 =>Build a function that returns an array of integers from n to 1 where n>0.

Example : n=5 --> [5,4,3,2,1]

In [4]:
import numpy as np
def reverse_seq(n):
    return list(np.arange(n,0,-1))

####  5 => Write a function that will accept two parameters: variable and type and check if type of variable is matching type. Return true if types match or false if not.

In [5]:
def type_validation(variable, _type): 
    return _type in str(type(variable))

#### 6 =>Code as fast as you can! You need to double the integer and return it.

In [6]:
def double_integer(i):
    return 2 * i

####  7=> Count the numbers of digits d used in the writing of all the k**2.

Implement the function taking n and d as parameters and returning this count.

In [7]:
def nb_dig(n, d):
    c = 0
    d = str(d)  
    for k in range(n + 1):
        c += str(k * k).count(d) 
    return c

#### 8 =>altERnaTIng cAsE <=> ALTerNAtiNG CaSe
 see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"

def to_alternating_case(string):
    s = ""
    for ch in string:
        if str.islower(ch):
            s+= str.upper(ch)
        else :
            s+= str.lower(ch) 
    return s

#### 9 => Complete the square sum function so that it squares each number passed into it and then sums the results together.

In [8]:
def square_sum(numbers):
    c=0
    for i in numbers:
        c+= i*i
    return c

#### 10 =>ATM machines allow 4 or 6 digit PIN codes and PIN codes cannot contain anything but exactly 4 digits or exactly 6 digits.

If the function is passed a valid PIN string, return true, else return false.

In [9]:
def validate_pin(pin):
    return (len(pin)== 4 or len(pin) == 6) and (pin.isnumeric())

   # =============== Second Day ===================

#### 11 >> Given the triangle of consecutive odd numbers:

               1
            3     5
         7     9    11
      13    15    17    19
    21    23    25    27    29
...
Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.: (Input --> Output)

`1 -->  1`
||
`2 --> 3 + 5 = 8`

In [10]:
def row_sum_odd_numbers(n):
    return n**3

#### 12 >> Given two numbers and an arithmetic operator (the name of it, as a string), return the result of the two numbers having that operator used on them.

a and b will both be positive integers, and a will always be the first number in the operation, and b always the second.

The four operators are `"add"`, `"subtract"`, `"divide"`, `"multiply"`.

In [11]:
def arithmetic(a, b, operator):
    if operator == "add":
        return a + b
    elif operator == "subtract":
        return a - b
    elif operator == "multiply":
        return a * b
    else :
        return a / b


# another way
def arithmetic2(a, b, operator):
    return {
        'add': a + b,
        'subtract': a - b,
        'multiply': a * b,
        'divide': a / b,
    }[operator]

#### 13 >> Task:
Given a list of integers, determine whether the sum of its elements is odd or even.

Give your answer as a string matching `"odd"` or `"even"`.

If the input array is empty consider it as: `[0] (array with a zero)`.

In [12]:
def odd_or_even(arr):
    return { '0' : "even",
            '1' : "odd",
        }[str(sum(arr)% 2) ]

#### 14 >> Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:

`1 <= month <= 12`

In [13]:
def quarter_of(month):
    return {
        0 : 1,
        1 :2 ,
        2 :3 ,
        3 :4 ,
    }[(month-1) // 3]

#### 15 >> In this kata you will create a function that takes in a list and returns a list with the reverse order.

Examples (Input -> Output)
* `[1, 2, 3, 4]  -> [4, 3, 2, 1]`
* `[9, 2, 0, 7]  -> [7, 0, 2, 9]`

In [14]:
# normal solution
def reverse_list(l):
    arr = []
    for  i in range(len(l)-1 , -1 , -1):
        arr.append(l[i])
    return arr


# Advanced solution
def reverse_list(l):
  return l[::-1]

#### 16 >> Write function bmi that calculates body mass index (bmi = weight / height2).

if `bmi <= 18.5` return `"Underweight"`

if `bmi <= 25.0` return `"Normal"`

if `bmi <= 30.0` return `"Overweight"`

if `bmi > 30` return `"Obese"`

In [15]:
# normal solution
def bmi(weight, height):
    bm = weight / (height **2)
    if bm <= 18.5:
        return "Underweight"

    if bm <= 25.0 :
        return "Normal"

    if bm <= 30.0:
        return "Overweight"

    if bm > 30 :
        return "Obese"

In [16]:
# Advanced solution
def bmi(weight, height):
    b = weight / height ** 2
    return ['Underweight', 'Normal', 'Overweight', 'Obese'][(b > 30) + (b > 25) + (b > 18.5)]

### 17 >> Write a function that returns a string in which firstname is swapped with last name.

Example(Input --> Output)

`"john McClane" --> "McClane john"`

In [17]:
def name_shuffler(str_):
    return ' '.join(str_.split(' ')[::-1])

####  18 >> Write a function which takes a number and returns the corresponding ASCII char for that value.

Example:

`65 --> 'A'`
`97 --> 'a'`
`48 --> '0`

In [18]:
def get_char(c):
    return chr(c)

#### 19 >> Americans are odd people: in their buildings, the first floor is actually the ground floor and there is no 13th floor (due to superstition).

Write a function that given a floor in the american system returns the floor in the european system.

With the 1st floor being replaced by the ground floor and the 13th floor being removed, the numbers move down to take their place. In case of above 13, they move down by two because there are two omitted numbers below them.

Basements (negatives) stay the same as the universal level.

More information here

Examples
`1  =>  0 `
`0  =>  0`
`5  =>  4`
`15  =>  13`
`-3  =>  -3`

In [19]:
def get_real_floor(n):
    if n <= 0 :
        return n
    if n <= 13 :
        return n-1
    if n > 13 :
        return n -2

#### 20 >> Complete the solution so that it splits the string into pairs of two characters. If the string contains an odd number of characters then it should replace the missing second character of the final pair with an underscore ('_').

Examples:

* `'abc' =>  ['ab', 'c_']`
* `'abcdef' => ['ab', 'cd', 'ef'] `

In [20]:
def solution(s):
    arr = []
    for i in range(0, len(s) , 2):
        if i == len(s) -1:
            arr.append(s[i]+'_')  
        else:
            arr.append(s[i:i+2])
                
        
    return arr

   # =============== Third Day ===================

#### 21 -> You are given an array (which will have a length of at least 3, but could be very large) containing integers. The array is either entirely comprised of odd integers or entirely comprised of even integers except for a single integer N. Write a method that takes the array as an argument and returns this "outlier" N.

Examples

`[2, 4, 0, 100, 4, 11, 2602, 36]` -->  11 (the only odd number)

`[160, 3, 1719, 19, 11, 13, -21]`--> 160 (the only even number)

In [21]:
def find_outlier(integers):
    even =[]
    odd = []
    for i in integers:
        even.append(i) if (i%2) == 0 else odd.append(i)
    return even[0] if len(even) < len(odd) else odd[0]

#### 22 -> You take your son to the forest to see the monkeys. You know that there are a certain number there (n), but your son is too young to just appreciate the full number, he has to start counting them from 1.

As a good parent, you will sit and count with him. Given the number (n), populate an array with all numbers up to and including that number, but excluding zero.

For example(Input --> Output):

10 --> `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`
 1 --> `[1]`

In [22]:

   def monkey_count(n):
    return [x for x in range(1,n+1)]

#### 23 -> Jaden Smith, the son of Will Smith, is the star of films such as The Karate Kid (2010) and After Earth (2013). Jaden is also known for some of his philosophy that he delivers via Twitter. When writing on Twitter, he is known for almost always capitalizing every word. For simplicity, you'll have to capitalize each word, check out how contractions are expected to be in the example below.

Your task is to convert strings to how they would be written by Jaden Smith. The strings are actual quotes from Jaden Smith, but they are not capitalized in the same way he originally typed them.

Example:

Not Jaden-Cased: `"How can mirrors be real if our eyes aren't real"`
Jaden-Cased:     `"How Can Mirrors Be Real If Our Eyes Aren't Real"`

In [23]:
def to_jaden_case(string):
    return ' '.join([str.upper(x[0])+str.lower(x[1:]) for  x in (string.split(' '))])

#### 24-> The 26 letters of the English alphabets are randomly divided into 5 groups of 5 letters with the remaining letter being ignored. Each of the group is assigned a score of more than 0. The ignored letter always has a score of 0.

With this kata, write a function to work out the score of a name that is passed to the function.

The output should be returned as an object:

{'Mary Jane':20}
Only letters have a score. Spaces do not.

You can safely assume that name does not contain any punctuations or symbols. There will also be no empty string or null value.

A static alpha object for testing has been preloaded for your convenience in the following format:

`{'ABCDE':1, 'FGHIJ':2, 'KLMNO':3, 'PQRST':4, 'UVWXY':5}`

`'Z' is ignored`

In [24]:
#from preloaded import alpha 

def name_score(name):
    sc = dict.fromkeys("ABCDE", 1) | dict.fromkeys("FGHIJ", 2) | \
         dict.fromkeys("KLMNO", 3) | dict.fromkeys("PQRST", 4) | \
         dict.fromkeys("UVWXY", 5) | {'Z': 0, ' ': 0}
    return {name: sum(sc.get(ch) for ch in name.upper())}

#### 25 -> Convert Decimal Degrees to Degrees, Minutes, Seconds.

Remember: 1 degree = 60 minutes; 1 minute = 60 seconds.

Input: Positive number.

Output: Array [degrees, minutes, seconds]. E.g [30, 25, 25]

Trailing zeroes should be omitted in the output. E.g

In [25]:
def convert(decimal_degrees):
    degrees = int(decimal_degrees)
    remaining = decimal_degrees - degrees
    
    minutes = int(remaining * 60)
    seconds = round((remaining * 60 - minutes) * 60)
    if seconds == 60:
        minutes+=1
        seconds =0
    if minutes == 60:
        degrees+=1
        minutes =0
    if seconds == 0:
        if minutes == 0:
            return [degrees]
        else:
            return [degrees, minutes]
    else:
        return [degrees, minutes, seconds]

#### 26 -> The rgb function is incomplete. Complete it so that passing in RGB decimal values will result in a hexadecimal representation being returned. Valid decimal values for RGB are 0 - 255. Any values that fall out of that range must be rounded to the closest valid value.

Note: Your answer should always be 6 characters long, the shorthand with 3 will not work here.

Examples (input --> output):

`255, 255, 255 ` --> `"FFFFFF"`

`255, 255, 300` --> `"FFFFFF"`

`0, 0, 0     `  --> `"000000"`

`148, 0, 211`   --> `"9400D3"`

In [26]:
def rgb(r, g, b):
    def d2h(n):
        res =""
        if n >=255 :
            return "FF"
        if n < 0:
            return "00"
        if (n //16) < 10:
            res+= str(n //16)
        else:
            res+={10:'A',11:'B' , 12 :'C' ,13 :'D' ,14:'E' ,15:'F'}[ n// 16]
        if(n%16) < 10:
            res += str(n %16)
        else:
            res +={10:'A',11:'B' , 12 :'C' ,13 :'D' ,14:'E' ,15:'F'}[ n % 16]
        return res
    return d2h(r) + d2h(g) + d2h(b)

#### 27 -> Once upon a time, on a way through the old wild mountainous west,…
… a man was given directions to go from one point to another. The directions were "NORTH", "SOUTH", "WEST", "EAST". Clearly "NORTH" and "SOUTH" are opposite, "WEST" and "EAST" too.

Going to one direction and coming back the opposite direction right away is a needless effort. Since this is the wild west, with dreadful weather and not much water, it's important to save yourself some energy, otherwise you might die of thirst!

How I crossed a mountainous desert the smart way.
The directions given to the man are, for example, the following (depending on the language):

`["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]`.
or
`{ "NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST" }`;
or
`[North, South, South, East, West, North, West]`

In [27]:
def dir_reduc(arr):
    li = []
    for i in arr:
        if li and ((li[len(li)-1] == 'NORTH' and i == 'SOUTH') or (li[len(li)-1] == 'SOUTH' and i == 'NORTH') or  (li[len(li)-1] == 'EAST' and i == 'WEST') or (li[len(li)-1] == 'WEST' and i == 'EAST')) :
            li.pop()
        else:
            li.append(i)
    return li

#### 28 -> Well met with Fibonacci bigger brother, AKA Tribonacci.

As the name may already reveal, it works basically like a Fibonacci, but summing the last 3 (instead of 2) numbers of the sequence to generate the next. And, worse part of it, regrettably I won't get to hear non-native Italian speakers trying to pronounce it :(

So, if we are to start our Tribonacci sequence with `[1, 1, 1]` as a starting input (AKA signature), we have this sequence:

`[1, 1 ,1, 3, 5, 9, 17, 31, ...]`

`[0, 0, 1, 1, 2, 4, 7, 13, 24, ...]`

In [28]:
def tribonacci(signature, n):
    if n <3:
        return signature[ : n]
        
    l1 = 0
    l2 = 1
    l3 =2
    
    arr= signature
    for i in range(n-3):
        arr.append(arr[l1] + arr[l2] + arr[l3])
        l1+= 1    
        l2+= 1    
        l3+= 1    
    return arr

#### 29 -> Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

`[1, 2, 3, 4, 5]` --> `[-1, -2, -3, -4, -5]`

`[1, -2, 3, -4, 5]` --> `[-1, 2, -3, 4, -5]`

`[]` --> `[]`

In [29]:
def invert(lst):
    return [-x for x in lst ]

#### 30-> I'm new to coding and now I want to get the sum of two arrays... Actually the sum of all their elements. I'll appreciate for your help.

P.S. Each array includes only integer numbers. Output is a number too.

In [30]:
def array_plus_array(arr1,arr2):
    return sum (arr1) + sum(arr2)

 # =============== Fourth Day ===================

## `31`
##### Create a function that takes a positive integer and returns the next bigger number that can be formed by rearranging its digits. For example:

  12 ==> 21 
  
 513 ==> 531
 
2017 ==> 2071

If the digits can't be rearranged to form a bigger number, return -1 (or nil in Swift, None in Rust):

  9 ==> -1
  
111 ==> -1

531 ==> -1

In [31]:
def next_bigger(n):
    s = list(str(n))  
    length = len(s)
    
    i = length - 2
    while i >= 0 and s[i] >= s[i + 1]:
        i -= 1
    
    if i == -1:
        return -1  
    
    j = length - 1
    while s[j] <= s[i]:
        j -= 1
    
    
    s[i], s[j] = s[j], s[i]
    
    s = s[:i + 1] + sorted(s[i + 1:])
    
    return int("".join(s))

## `32` 
#### You are given a binary tree:

class Node:
    def __init__(self, L, R, n):
        self.left = L
        self.right = R
        self.value = n
Your task is to return the list with elements from tree sorted by levels, which means the root element goes first, then root children (from left to right) are second and third, and so on.

Return empty list if root is None.

Example 1 - following tree:

                 2
            8        9
          1  3     4   5
          
Should return following list:

`[2,8,9,1,3,4,5]`

In [32]:
from collections import deque

def tree_by_levels(root):
    if not root:
        return []
    
    result = []
    queue = deque([root])
    
    while queue:
        node = queue.popleft()
        result.append(node.value)
        
        if node.left:
            queue.append(node.left)
        if node.right:
            queue.append(node.right)
    
    return result

## `33`
#### Story
Ben has a very simple idea to make some profit: he buys something and sells it again. Of course, this wouldn't give him any profit at all if he was simply to buy and sell it at the same price. Instead, he's going to buy it for the lowest possible price and sell it at the highest.

Task
Write a function that returns both the minimum and maximum number of the given list/array.

Examples (Input --> Output)

[1,2,3,4,5] --> [1,5]

[2334454,5] --> [5,2334454]

[1]         --> [1,1]

In [33]:
def min_max(lst):
    return [min(lst) , max(lst)]

## `34`
#### Let's play! You have to return which player won! In case of a draw return Draw!.

Examples(Input1, Input2 --> Output):

"scissors", "paper" --> "Player 1 won!"

"scissors", "rock" --> "Player 2 won!"

"paper", "paper" --> "Draw!"

In [34]:
def rps(p1, p2):
    dict ={"scissors" : 1, "rock" :2 , "paper" : 3}
    return {1:"Player 1 won!" ,-1 : "Player 2 won!" , 0: "Draw!" ,-2: "Player 1 won!" ,2:"Player 2 won!" } [(dict[p1] - dict[p2])]

## `35`
#### Exclusive "or" (xor) Logical Operator
Overview
In some scripting languages like PHP, there exists a logical operator (e.g. &&, ||, and, or, etc.) called the "Exclusive Or" (hence the name of this Kata). The exclusive or evaluates two booleans. It then returns true if exactly one of the two expressions are true, false otherwise. For example:

`false xor false == false` // since both are false

`true xor false == true` // exactly one of the two expressions are true

`false xor true == true` // exactly one of the two expressions are true

`true xor true == false` // Both are true.  "xor" only returns true if EXACTLY

In [35]:
def xor(a,b):
    return a != b

## `36`
#### You will be given a list of strings. You must sort it alphabetically (case-sensitive, and based on the ASCII values of the chars) and then return the first value.

The returned value must be a string, and have `"***"` between each of its letters.

You should not remove or add elements from/to the array.

In [36]:
def two_sort(array):
    return "***".join(sorted(array)[0])

## `37`
#### Make a function that returns the value multiplied by 50 and increased by 6. If the value entered is a string it should return "Error".

In [37]:
def problem(a):
    try:
        return a * 50 + 6
    except:
        return "Error"

## `38` 
#### Given an array (arr) as an argument complete the function countSmileys that should return the total number of smiling faces.

Rules for a smiling face:

Each smiley face must contain a valid pair of eyes. Eyes can be marked as : or ;
A smiley face can have a nose but it does not have to. Valid characters for a nose are - or ~
Every smiling face must have a smiling mouth that should be marked with either ) or D
No additional characters are allowed except for those mentioned.

Valid smiley face examples: :) :D ;-D :~)
Invalid smiley faces: ;( :> :} :]

Example

countSmileys`([':)', ';(', ';}', ':-D']);`       // should return 2;

countSmileys`([';D', ':-(', ':-)', ';~)']);`     // should return 3;

countSmileys`([';]', ':[', ';*', ':$', ';-D']);` // should return 1;

In [38]:
def contain(s , ch):
    return s.find(ch) != -1

def count_smileys(arr):
    count = 0
    for s in arr:
        if contain(s , ')') or contain(s , 'D') :
            if contain(s , ':') or contain(s , ';'):
                if len(s) == 2:
                    count += 1
                elif (contain(s , '-') or contain(s , '~')) and len(s) == 3:
                    count +=1 
                else :
                    continue               
    return count

## `39` 
#### Write Number in Expanded Form
You will be given a number and you will need to return it as a string in Expanded Form. For example:

  ` 12 --> "10 + 2"`
  
   `45 --> "40 + 5"`
   
`70304 --> "70000 + 300 + 4"`

In [39]:
def expanded_form(n):
    s = ""
    c = 1
    while n != 0:
        if n%10 != 0:
            s = ' + ' + str((n %10) * c) + s
            
        c *= 10
        n = n//10
    
    return s[3:]

## `40` 
#### Given a string str, reverse it and omit all non-alphabetic characters.

Example
For str = `"krishan"`, the output should be `"nahsirk"`.

For str = `"ultr53o?n"`, the output should be `"nortlu"`.

Input/Output

[input] string str

A string consists of lowercase latin letters, digits and symbols.

[output] a string

In [45]:
def reverse_letter(st):
    s = ""
    for ch in st:
        if ch.isalpha():
            s+= ch
    return s[::-1]

# `41`
#### Your goal in this kata is to implement a difference function, which subtracts one list from another and returns the result.

It should remove all values from list a, which are present in list b keeping their order.

array_diff(`[1,2],[1]`) == `[2]`

If a value is present in b, all of its occurrences must be removed from the other:

array_diff(`[1,2,2,2,3],[2]`) == `[1,3]`

In [46]:
def array_diff(a, b):
    return [i for i in a if i not in b]

# `42`
### Your job is to write a function which increments a string, to create a new string.

If the string already ends with a number, the number should be incremented by 1.
If the string does not end with a number. the number 1 should be appended to the new string.
Examples:

`foo -> foo1`

`foobar23 -> foobar24`

`foo0042 -> foo0043`

`foo9 -> foo10`

`foo099 -> foo100`

Attention: If the number has leading zeros the amount of digits should be considered.

In [60]:
import re
def increment_string(strng):
    try:  
        num = ""
        l = 0
        z =0
        for c in strng[::-1]:
            if c.isdigit():
                num = c + num
            else:
                break
        return strng[:- len(str(num))] + str(int(num) + 1).zfill(len(num))
    except:
        return strng + "1"

# `43`
### There is a bus moving in the city which takes and drops some people at each bus stop.

You are provided with a list (or array) of integer pairs. Elements of each pair represent the number of people that get on the bus (the first item) and the number of people that get off the bus (the second item) at a bus stop.

Your task is to return the number of people who are still on the bus after the last bus stop (after the last array). Even though it is the last bus stop, the bus might not be empty and some people might still be inside the bus, they are probably sleeping there :D

Take a look on the test cases.

Please keep in mind that the test cases ensure that the number of people in the bus is always >= 0. So the returned integer can't be negative.

The second value in the first pair in the array is 0, since the bus is empty in the first bus stop.

In [64]:
def number(bus_stops):
    count = 0
    for ar in bus_stops:
        count += ar[0] - ar[1]
    return count

# `44`
### You're writing code to control your town's traffic lights. You need a function to handle each change from green, to yellow, to red, and then to green again.

Complete the function that takes a string as an argument representing the current state of the light and returns a string representing the state the light should change to.

For example, when the input is `green`, output should be `yellow`.

In [65]:
def update_light(current):
    dict = {'green' : 1, "yellow" :2 , "red" : 3 }
    return { 0 :'green' , 1 : "yellow" ,2 : "red" }[dict[current] % 3]

# `45`
### The main idea is to count all the occurring characters in a string. If you have a string like aba, then the result should be {'a': 2, 'b': 1}.

What if the string is empty? Then the result should be empty object literal, {}.

In [103]:
def count(s):
    a = set(s)
    d =dict()
    for i in a :
        d[i] = 0
        
    for i in s:
        d[i] += 1 
    
    return d

# `46`
###