   # =============== First Day ===================

#### 1 => Check to see if a string has the same amount of 'x's and 'o's. The method must return a boolean and be case insensitive. The string can contain any char.

In [1]:
def xo(s):
    count = 0
    for ch in s:
        if (ch == 'o') or (ch == 'O'):
            count +=1
        elif (ch == 'x') or (ch == 'X'):
            count -=1
    return count == 0

#### 2 => Character recognition software is widely used to digitise printed texts. Thus the texts can be edited, searched and stored on a computer.

When documents (especially pretty old ones written with a typewriter), are digitised character recognition softwares often make mistakes.

Your task is correct the errors in the digitised text. You only have to handle the following mistakes:

S is misinterpreted as 5
O is misinterpreted as 0
I is misinterpreted as 1
The test cases contain numbers only by mistake.

In [2]:
def correct(s):
    return s.replace('5','S').replace('0', 'O').replace('1','I')

#### 3 => You will be given an array a and a value x. All you need to do is check whether the provided array contains the value.

a can contain numbers or strings. x can be either.

Return true if the array contains the value, false if not.

In [3]:
def check(seq, elem):
    return elem in seq

####  4 =>Build a function that returns an array of integers from n to 1 where n>0.

Example : n=5 --> [5,4,3,2,1]

In [4]:
import numpy as np
def reverse_seq(n):
    return list(np.arange(n,0,-1))

####  5 => Write a function that will accept two parameters: variable and type and check if type of variable is matching type. Return true if types match or false if not.

In [5]:
def type_validation(variable, _type): 
    return _type in str(type(variable))

#### 6 =>Code as fast as you can! You need to double the integer and return it.

In [6]:
def double_integer(i):
    return 2 * i

####  7=> Count the numbers of digits d used in the writing of all the k**2.

Implement the function taking n and d as parameters and returning this count.

In [7]:
def nb_dig(n, d):
    c = 0
    d = str(d)  
    for k in range(n + 1):
        c += str(k * k).count(d) 
    return c

#### 8 =>altERnaTIng cAsE <=> ALTerNAtiNG CaSe
 see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"

def to_alternating_case(string):
    s = ""
    for ch in string:
        if str.islower(ch):
            s+= str.upper(ch)
        else :
            s+= str.lower(ch) 
    return s

#### 9 => Complete the square sum function so that it squares each number passed into it and then sums the results together.

In [8]:
def square_sum(numbers):
    c=0
    for i in numbers:
        c+= i*i
    return c

#### 10 =>ATM machines allow 4 or 6 digit PIN codes and PIN codes cannot contain anything but exactly 4 digits or exactly 6 digits.

If the function is passed a valid PIN string, return true, else return false.

In [9]:
def validate_pin(pin):
    return (len(pin)== 4 or len(pin) == 6) and (pin.isnumeric())

   # =============== Second Day ===================

#### 11 >> Given the triangle of consecutive odd numbers:

               1
            3     5
         7     9    11
      13    15    17    19
    21    23    25    27    29
...
Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.: (Input --> Output)

`1 -->  1`
||
`2 --> 3 + 5 = 8`

In [10]:
def row_sum_odd_numbers(n):
    return n**3

#### 12 >> Given two numbers and an arithmetic operator (the name of it, as a string), return the result of the two numbers having that operator used on them.

a and b will both be positive integers, and a will always be the first number in the operation, and b always the second.

The four operators are `"add"`, `"subtract"`, `"divide"`, `"multiply"`.

In [11]:
def arithmetic(a, b, operator):
    if operator == "add":
        return a + b
    elif operator == "subtract":
        return a - b
    elif operator == "multiply":
        return a * b
    else :
        return a / b

In [12]:
# another way
def arithmetic2(a, b, operator):
    return {
        'add': a + b,
        'subtract': a - b,
        'multiply': a * b,
        'divide': a / b,
    }[operator]

#### 13 >> Task:
Given a list of integers, determine whether the sum of its elements is odd or even.

Give your answer as a string matching `"odd"` or `"even"`.

If the input array is empty consider it as: `[0] (array with a zero)`.

In [13]:
def odd_or_even(arr):
    return { '0' : "even",
            '1' : "odd",
        }[str(sum(arr)% 2) ]

#### 14 >> Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:

`1 <= month <= 12`

In [14]:
def quarter_of(month):
    return {
        0 : 1,
        1 :2 ,
        2 :3 ,
        3 :4 ,
    }[(month-1) // 3]

#### 15 >> In this kata you will create a function that takes in a list and returns a list with the reverse order.

Examples (Input -> Output)
* `[1, 2, 3, 4]  -> [4, 3, 2, 1]`
* `[9, 2, 0, 7]  -> [7, 0, 2, 9]`

In [15]:
# normal solution
def reverse_list(l):
    arr = []
    for  i in range(len(l)-1 , -1 , -1):
        arr.append(l[i])
    return arr

In [16]:
# Advanced solution
def reverse_list(l):
  return l[::-1]

#### 16 >> Write function bmi that calculates body mass index (bmi = weight / height2).

if `bmi <= 18.5` return `"Underweight"`

if `bmi <= 25.0` return `"Normal"`

if `bmi <= 30.0` return `"Overweight"`

if `bmi > 30` return `"Obese"`

In [17]:
# normal solution
def bmi(weight, height):
    bm = weight / (height **2)
    if bm <= 18.5:
        return "Underweight"

    if bm <= 25.0 :
        return "Normal"

    if bm <= 30.0:
        return "Overweight"

    if bm > 30 :
        return "Obese"

In [18]:
# Advanced solution
def bmi(weight, height):
    b = weight / height ** 2
    return ['Underweight', 'Normal', 'Overweight', 'Obese'][(b > 30) + (b > 25) + (b > 18.5)]

### 17 >> Write a function that returns a string in which firstname is swapped with last name.

Example(Input --> Output)

`"john McClane" --> "McClane john"`

In [19]:
def name_shuffler(str_):
    return ' '.join(str_.split(' ')[::-1])

####  18 >> Write a function which takes a number and returns the corresponding ASCII char for that value.

Example:

`65 --> 'A'`
`97 --> 'a'`
`48 --> '0`

In [20]:
def get_char(c):
    return chr(c)

#### 19 >> Americans are odd people: in their buildings, the first floor is actually the ground floor and there is no 13th floor (due to superstition).

Write a function that given a floor in the american system returns the floor in the european system.

With the 1st floor being replaced by the ground floor and the 13th floor being removed, the numbers move down to take their place. In case of above 13, they move down by two because there are two omitted numbers below them.

Basements (negatives) stay the same as the universal level.

More information here

Examples
`1  =>  0 `
`0  =>  0`
`5  =>  4`
`15  =>  13`
`-3  =>  -3`

In [21]:
def get_real_floor(n):
    if n <= 0 :
        return n
    if n <= 13 :
        return n-1
    if n > 13 :
        return n -2

#### 20 >> Complete the solution so that it splits the string into pairs of two characters. If the string contains an odd number of characters then it should replace the missing second character of the final pair with an underscore ('_').

Examples:

* `'abc' =>  ['ab', 'c_']`
* `'abcdef' => ['ab', 'cd', 'ef'] `

In [22]:
def solution(s):
    arr = []
    for i in range(0, len(s) , 2):
        if i == len(s) -1:
            arr.append(s[i]+'_')  
        else:
            arr.append(s[i:i+2])
                
        
    return arr

   # =============== Third Day ===================